* {
    font-family: 'Roboto';
    font-size: 15px;
}

h1 {
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    background-position: center;
    background-color: #bdc3c7;
}

ul {
    list-style: none
}

img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px
}

h2 {
    color: #8EE5EE;
    font-weight: bold;
    font-size: 1.5rem
}

p {
    color: black;
    font-weight: bold
}

a {
    color: lightgreen;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: lightgreen;
}

a:visited {
    color: lightgreen;
}

a:focus {
    background-color: cadetblue;
}

a:hover {
    background: #8EE5EE;
}

a:active {
    background-color: aquamarine;
}