* {
    box-sizing: border-box;
}

#filter-wrapper {
    margin: 0px auto;
    width: 1000px;
    height: 70px;
    font-size: 12px;
    font-weight: lighter;
}

#filter-wrapper div {
    padding-left: 10px;
    text-align: left;
}

label {
    margin: 20px 5px;
    height: 30px;
    line-height: 30px;
}

input {
    vertical-align: middle;
}


table {
    margin: 0px auto;
    width: 1000px;
    border-spacing: 0px;
}

table tr:first-child {
    background-color: #E3E9EF;
    font-weight: bold;
}

table th {
    color: #52575D;
    font-weight: lighter;
    width: 100px;
    height: 45px;
    vertical-align: middle;
}

table tr:first-child th {
    text-align: center;
    color: #B3B8BD;
    padding-left: 0;
    letter-spacing: 0px;
}

table tr:first-child th:first-child {
    border-radius: 10px 0px 0px 10px;
    text-align: left;
    padding-left: 20px;
}

table tr:first-child th:last-child {
    border-radius: 0px 10px 10px 0px;
}

table th:first-child {
    text-align: left;
    padding-left: 20px;
}

table th:nth-child(2) {
    letter-spacing: 4px;
}

